backend/.env

frontend/src/assets/video/*
frontend/public/video/*

.docker-compose-env

# Packages

**/src-tauri/debug
**/src-tauri/.rustc*
**/src-tauri/CACHEDIR.TAG

node_modules/
prod-data/

## System Files

.DS_Store