name: Production Deployment
on: 
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  Deploy:
    environment: Production
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ vars.HOST }}
          username: ${{ vars.USERNAME }}
          key: ${{ secrets.PUB_KEY }}
          script: |
            # Goto the app directory
            cd stream-helper

            # Pull the latest changes
            git pull

            # Build backend
            (cd backend && npm ci && npm run build)
          
            # Build frontend
            (cd frontend && npm ci && npm run build)
            
            # Build Docker Image
            docker compose up -d --build